<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Sign in | AI Tools</title>
</head>
<body>
    <div id="wraper">
        <form id="login_register">
            <div class="control">
                <a href="#" class="exit">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="logo">
                <img class="image_logo" src="../static/logo.png">
                <span class="name_logo"> AI Tools</span>
            </div>
            <h1 class="heading"> Sign in to Your Account</h1>
            <div class="group">
                <label for="username" >Username</label>
                <br>
                <div class="form">
                    <i class="far fa-user"></i>
                    <input id="username" type="text" class="input" placeholder="Enter username">  
                </div>
            </div>
            <div class="group">
                <label class="UserPass" for="password">Password</label>
                <br>
                <div class="form">
                    <i class="fa fa-key"></i>
                    <input id="password" type="password" class="input" placeholder="Enter password">  
                    <div class="eye">
                        <i class="far fa-eye"></i>
                    </div>
                </div>
            </div>
            <div class="reset_password">
                <input type="checkbox" id="rememberMe" name="rememberMe">
                <label for="rememberMe">Remember me</label>
                <a href="">
                    <span>Forgot your password?</span>                    
                </a>
            </div>    
            <button type="submit" class="submit" id="sign_in">Sign In</button>
            <div class="register">
                <span>Don't have an account?</span>
                <a href="./sign_up">
                    <span >Sign up for AI Tools</span>
                </a>
            </div>        
            <hr>
            <div class="other">
                <i class="fa-brands fa-google"></i>
                <span>Google</span>
            </div>
            <div class="other">
                <i class="fa-brands fa-facebook-f"></i>
                <span>Facebook</span>
            </div>
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="../static/login.js"></script>
</html>